<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <title>React Blog</title>
</head>
<body>
  <div id="react-container">
    <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "Blog", root_path %></li>
          <li><%= link_to "Write a Post", new_post_path %></li>
        </ul>
      <%= yield %>
    </div>
  </div>
  <div id="root"></div>
  <%= javascript_include_tag "application" %>
</body>
</html>
